<div class="container-fluid">
    <div class="row">
        <br>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-users fa-4x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ memCount }}</div>
                            <div>New Users</div>
                        </div>
                    </div>
                </div>
                <a ui-sref="^.users" ui-sref-opts="{reload: true}">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-car fa-4x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ rideCount }}</div>
                            <div>New Ride Offers</div>
                        </div>
                    </div>
                </div>
                <a ui-sref="^.ride" ui-sref-opts="{reload: true}">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-street-view fa-4x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ requestCount }}</div>
                            <div>New Ride Requests</div>
                        </div>
                    </div>
                </div>
                <a ui-sref="^.ride" ui-sref-opts="{reload: true}">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-road fa-4x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ joinCount }}</div>
                            <div>Matched Pairs</div>
                        </div>
                    </div>
                </div>
                <a ui-sref="^.ride" ui-sref-opts="{reload: true}">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>


        <div class="col-lg-6 col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Ride Offer and Request
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="offerRequestChart"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

            <div class="panel panel-success">
                <div class="panel-heading">
                    <i class="fa fa-pie-chart fa-fw"></i> Users
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <h4 class="text-center">Total number: {{ totalMemCount }}</h4>
                    <div class="col-lg-8">
                        <div id="usersChart"></div>
                    </div>
                    <div class="col-lg-4">
                        <div id="users2Chart"></div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>

        <div class="col-lg-6 col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Timeline
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <ul class="timeline">
                        <li ng-repeat="e in events" ng-class="{'timeline-inverted': e.type == 'Request'}">
                            <div ng-class="{'timeline-badge warning': e.type == 'Offer', 'timeline-badge danger': e.type == 'Request'}">
                                <i ng-class="{'fa fa-car': e.type == 'Offer', 'fa fa-street-view': e.type == 'Request'}"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">{{ e.email }}</h4>
                                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> {{ e.timeAgo }}</small>
                                    </p>
                                </div>
                                <div class="timeline-body">
                                    <h5>From: {{ e.from }}</h5><h5>To: {{ e.to }}</h5>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="text-center">
                        <a ui-sref="^.ride" ui-sref-opts="{reload: true}">
                            <button type="button" class="btn btn-default btn-circle btn-lg"><i class="fa fa-ellipsis-h"></i></button>
                        </a>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>

    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->
