
  <!-- Navigation -->
<nav class="navbar navbar-default no-margin navbar-fixed-top">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header fixed-brand">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"  id="menu-toggle">
		  <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
		</button>
		<a class="navbar-brand"  ui-sref=".dashboard" ui-sref-opts="{reload: true}" ><i class="fa fa-car"></i> RideSharing 2.0 Admin Panel</a>
	</div><!-- navbar-header-->

	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li class="active" ><button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"> <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button></li>
		</ul>
	</div><!-- bs-example-navbar-collapse-1 -->
</nav>
<div id="wrapper" ng-init="loginCheck()">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
			  <div class="sidebar-nav a-navbar-header">
				  <ul class="nav" id="side-menu">
					  <li>
						  <a ui-sref=".dashboard" ui-sref-opts="{reload: true}" ui-sref-active="active">&nbsp;<i class="glyphicon glyphicon-dashboard fa-lg"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dashboard</a>
					  </li>
					  <li>
						  <a ui-sref=".ride" ui-sref-opts="{reload: true}" ui-sref-active="active">&nbsp;<i class="fa fa-car fa-lg"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ride Info</a>
					  </li>
					  <li>
						  <a ui-sref=".users" ui-sref-opts="{reload: true}" ui-sref-active="active">&nbsp;<i class="glyphicon glyphicon-user fa-lg"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Users</a>
					  </li>
					  <li>
						  <a ui-sref=".vehicle" ui-sref-opts="{reload: true}" ui-sref-active="active">&nbsp;<i class="glyphicon glyphicon-credit-card fa-lg"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Vehicle</a>
					  </li>
					  <!--<li>
						  <a ui-sref=".upload" ui-sref-opts="{reload: true}" ui-sref-active="active">&nbsp;<i class="fa fa-cloud-upload fa-lg"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Upload Data</a>
					  </li>-->
					  <li>
						  <a href="" ng-click="logout()">&nbsp;<i class="glyphicon glyphicon-log-out fa-lg">&nbsp;</i>&nbsp;&nbsp;&nbsp;Logout</a>
					  </li>
				  </ul>
			</div>
        </div><!-- /#sidebar-wrapper -->

  <!-- Page Content -->
	<div id="page-content-wrapper">
		<div ui-view></div>
	</div>
  <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<script src="js/sidebar_menu.js"></script>